@media (max-width: 640px) {
    .sidebar {
        width:0;
    }
    .sidebar-link {
        display:none;
    }
}
@media (min-width: 640.1px) and (max-width: 1200px) {

.sidebar{
    position:fixed;
    left:0;
    bottom:0;
    top:55px;
    width:72px;
    background-color:#fff;
    z-index:200;
    padding-top:5px;
}      
.sidebar-link{
    height:74px;
    margin-top:1px;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.sidebar-link:hover{
    background-color:rgb(235, 235, 235);
}
.sidebar-link img{
    height:24px;
    margin-bottom:8px;
}
.sidebar-link div{
    font-size:10px;
    font-family:'Roboto',Arial,sans-serif;
}
}
@media (min-width: 1200.1px) {
    .sidebar {
        position:fixed;
        bottom:0;
        left:0;
        top:55px;
        background-color:white;
        width:220px;
        padding-top:13px;
        z-index:200;
    }
    .sidebar-link {
        display:flex;
        flex-direction:row;
        align-items:center;
        padding:8px 24px;
        gap:10px;
        cursor:pointer;
    }
    .sidebar-link img{
        height:24px;
    }
    .sidebar-link div{
        font-size:12px;
        font-family:'Roboto',Arial;
    }
}