p{
    font-family: 'Roboto', Arial, sans-serif;
    margin-top:0px;
    margin-bottom:0px;
}
body{
    margin:0px;
    padding-top:70px;
    padding-left:96px;
    padding-right:14px;
    background-color:rgb(244,244,244);
}
@media (max-width: 640px) {
    body{
        padding-left:14px;
    }
}
@media (min-width: 1200.1px) {
    body{
        padding-left:240px;
    }
}
