*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.header{
    display:flex;
    flex-direction:row;
    height:55px;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    left:0px;
    right:0px;
    top:0px;
    background-color:white;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:rgb(228, 228, 228);
    z-index:100;
}
.left-section{
    display:flex;
    align-items:center;
    gap:20px;
}
.hamburger-menu{
    height:24px;
    width:24px;
    margin-left:20px;
    cursor:pointer;
}
.youtube-logo{
    height:20px;
    cursor:pointer;
}
.middle-section{
    margin-left:70px;
    margin-right:30px;
    max-width:472px;
    display:flex;
    align-items:center;
    flex:1;
}
.search-bar{
    flex: 1;
    height:40px;
    font-size:16px;
    border:1px solid rgb(192,192,192);
    border-radius:2px;
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.05);
    width:0px;
    padding-left:12px;
    font-family:'Roboto',Arial,sans-serif; 
    font-weight:400;
    padding-right:2px;
    outline:none;
}
.search-bar::placeholder{
    font-family:'Roboto' Arial;
    font-size:16px;
}
.search-bar:focus{
    border-color:rgb(31, 92, 198);
}
.search-btn{
    width:64px;
    height:40px;
    border-width:1px;
    border-radius:2px;
    
    margin-right:10px;
    border-style:solid;
    cursor:pointer;
    border-color:rgb(204,204,204);
    border-left:none;
}
.search-image{
    height:25px;
}
.search-btn,
.voice-search-icon-btn,
.upload-icon-container,
.youtube-apps-icon-container,
.notification-container{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}
.search-btn .tooltip,
.voice-search-icon-btn .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notification-container .tooltip{
    padding:4px 8px;
    background-color:gray;
    color:white;
    font-size:12px;
    position:absolute;
    bottom:-50px;
    border-radius:2px;
    opacity:0;
    transition:opacity 0.15s;
    pointer-events:none;
    white-space:nowrap;
    font-family:roboto,Arial;
}
.search-btn:hover .tooltip,
.voice-search-icon-btn:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notification-container:hover .tooltip
{
    opacity:1;
}
.voice-search-icon-btn{
    width:40px;
    height:40px;
    border-radius:50%;
    border:none;
    cursor:pointer;
    background-color: rgb(248,248,248);
}
.voice-search-image{
    height:24px;
}
.right-section{
    width:200px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-shrink:0;
}
.upload{
    height:24px;
    cursor:pointer;
}
.youtube-apps{
    height:24px;
    cursor:pointer;
}
.notification-container{
    position:relative;
}
.notifications{
    height:24px;
    cursor:pointer;
}
.notification-count{
    position:absolute;
    top:-2px;
    right:-3px;
    background-color:rgb(204, 26, 26);
    color:white;
    font-size:11px;
    padding:2px 5px;
    border-radius:10px;
    font-family:Arial, Helvetica, sans-serif;
}
.unnamed{
     height:32px;
     margin-right: 10px;
     cursor:pointer;
}